@use "../../../styles.scss" as global;

header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;

    font-family: global.$font-monospace;
    background-color: global.$eerie-black;
    color: #FFFFFF;
    img {
        height: 70px;
    }
}