<div class="app">
  <app-header></app-header>
  <app-widget-grid *ngIf="!isLoadingOrders">
    <app-widget-grid-item headerText="Top 20 Vendas" headerColor="#36827f">
      <app-best-sellers-list [analysisData]="analysisData" [totalProductsSales]="totalProductsSales"></app-best-sellers-list>
    </app-widget-grid-item>
    <app-widget-grid-item headerText="Lista de Reposição" headerColor="#db3069">
      <app-spare-list [analysisData]="analysisData"></app-spare-list>
    </app-widget-grid-item>
    <app-widget-grid-item headerText="Maiores Estoques" headerColor="#3f88c5">
      <app-high-stock-list [analysisData]="analysisData"></app-high-stock-list>
    </app-widget-grid-item>
    <app-widget-grid-item class="large-column-space" headerText="Curva ABC" headerColor="#731dd8">
      <app-abc-curve-list [analysisData]="analysisData" [totalProductsSales]="totalProductsSales"></app-abc-curve-list>
    </app-widget-grid-item>
  </app-widget-grid>
</div>