/* You can add global styles to this file, and also import other style files */

$font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$eerie-black: #212121;
$white: #fcfcfc;
$green: #36827f;
$red: #db3069;
$yellow: #DBC030;

html, body { height: 100%; font-size: 16px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: $white;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
